/*.page-header {
    outline: 1px solid #333;
}*/

.page-header *{
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.logo {
    display: inline-block;
    height: 62px;
    width: 204px;
    vertical-align: middle;
    background-image: url(../img/delllogo.jpg);
    background-size: cover;
}

.menu {
    display: inline-block;
    list-style: none;
    font-size: 0;
}

.menu-item {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}

.menu-item:last-child {
    margin-right: 0;
}

.menu-link {
    outline: 1px solid #333;
    text-transform: uppercase;
    text-decoration: none;
}